.navbar{
    // border: 1px solid #111;
    float: left;
    height: 100vh;
    width: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: rgb(92, 92, 255);
    header{
       height: 22vh;
       width: 100%;
    //    border: 1px solid #111;
       display: flex;
       align-items: center;
       flex-direction: column;
       justify-content: center;
       img{
        height: 50px;
        margin-bottom: 14px;
       }
       p{
        color: #dedcdc;
       }
    }
    nav{
        height: 78vh;
        width: 100%;
        // border: 1px solid #111;
        display: flex;
        justify-content: center;
        li{
            font-size: 20px;
            margin: 40px 0;
            letter-spacing: 1px;
            display: flex;
            align-items: center;
            color: #dedcdc;
            transition: all .4s;
            .icon{
                font-size: 22px;
                margin-right: 10px;
            }
            &:hover{
                color: #fff;
            }
        }
    }
}