.searchContainer{
    height: 78vh;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    align-items: center;
    justify-content: center;
    .item_container{
        cursor: pointer;
        // border: 1px solid #111; 
        display: flex;
        flex-direction: column;
        background-color: rgb(240, 240, 240);
        margin: 20px;
        padding: 10px;
        border-radius: 14px;
        transition: all .3s;
        p{
            margin: 14px 0;
        }
        audio{
            width: 160px;
        }
        &:hover{
            transform: scale3d(1.1,1.1,1.1);
        }
    }
}