@import './navbar', "./header", "./discover";

*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

main{
//    border: 1px solid #111;
//    display: flex;
//    align-items: center;
//    justify-content: center;
}

// .App{
//     border: 1px solid #111;
//     display: flex;
// }